* {
  box-sizing: border-box;
  font-size: 1.4vw;
}

#clear {
  clear: both;
}

.cardContainer {
  /* display */
  display: flex;
  flex-direction: row;
  width: 95vw;
  height: 22vw;
  margin: 20px auto;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
}

.card {
  /* display, flex-direction, flex-grow, flex-basis */
  flex-basis: 33.3%;
  flex-grow: 1;
  min-width: 200px;
  display: flex;
  flex-flow: column;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
  margin: 0.5vw;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 11px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 11px -2px rgba(0, 0, 0, 0.25);
}

.cardDescription {
  /* display, flex-direction, align-items, flex-grow */
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 15px 0;
}

html {
  font-family: "Raleway", "Helvetica", sans-serif;
  font-weight: 400;
  color: #2F3442;
  height: 100%;
  background-color: #FFFFFF;
}

.cardDescriptionIcon {
  height: 50%;
  font-size: 4.5vw;
  margin: 10px;
  color: #BCD2DA;
}

.cardDescriptionText {
  height: 50%;
  color: #57727C;
  font-size: 12px;
  text-align: center;
  max-width: calc(100% - 30px);
}

.cardPrice {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #57727C;
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
  border-top: 1px solid #D7DBDD;
  background-color: #EEF3F5;
}

.cardPrice p {
  margin: 0;
}

nav {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

nav a {
  font-size: 0.9em;
  border: 1px solid #BCD2DA;
  background-color: #EEF3F5;
  padding: 0 5px;
  margin-right: 15px;
}

@media screen and (min-width: 100px) and (max-width: 650px) {
  * {
    font-size: 4vw;
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    width: 84vw;
    height: 140vw;
    margin: 1vw auto;
  }
  .cardDescriptionIcon {
    font-size: 10.5vw;
  }
  .card:nth-of-type(3) {
    margin-bottom: 3vw;
  }
  .card:nth-of-type(3) p {
    margin-top: 0;
  }
  nav {
    width: 80vw;
  }
  nav a {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 651px) and (max-width: 950px) {
  * {
    font-size: 2.3vw;
  }
  .cardContainer {
    display: flex;
    flex-flow: row wrap;
    width: 97vw;
    height: 64vw;
    margin: 2px auto;
    justify-content: center;
  }
  .card:nth-of-type(1) {
    /* flex: 1 50%; */
    height: 30vw;
  }
  .card:nth-of-type(2) {
    /* flex: 1 50%; */
    height: 30vw;
  }
  .card:nth-of-type(3) {
    flex-grow: 0;
    flex-basis: 48.5vw;
    height: 31vw;
  }
  .cardDescriptionIcon {
    font-size: 5.5vw;
  }
  nav {
    width: 97vw;
  }
  nav a {
    font-size: 0.8em;
    
  }


}